@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,400&family=Roboto:ital,wght@1,300&display=swap');

*{ scroll-behavior: smooth;
    scroll-padding: 150px;
    }

body {
    background-color: #171717;
}


.aboutme_nadpis { 
    text-align: center;
    margin-top: 350px;
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 25px;
}

.aboutme_info {
 text-align: justify;
 display: flex;
 color: #FFF;
 margin-left: 400px;
 margin-right: 400px;
 font-size: 20px;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
    padding-left: 30%;
    padding-right: 30%;
  }
  
.circle {
    width: 62px;
    height: 62px;
    background-color: #212121;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}

  
.inner-circle {
    width: 12px;
    height: 12px;
    background-color: #27AE60;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.text, .email, .phone {
    color: #FFF;
}

.Email{
    margin-bottom: 55px;
}

.titleName, .titleEmail, .titlePhone {
    color: #FFF;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
  
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media only screen and (max-width: 600px) {
    .container{
        flex-direction: column;
        margin-top: 70px;
        justify-content: center;

    }
    .aboutme_info {
        padding: 25px;
    } 
    
}