*{ scroll-behavior: smooth;
    scroll-padding: 150px;
    }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171717;
}

.titleForm {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-family: 'DM Sans', sans-serif; 
    margin-top: 200px;
   margin-bottom: 30px;
}

.spanForm {
    color: #4caf50;
}

.my-form {
    max-width: 700px;
    margin: auto;
    margin-top: 80px;
}

.name-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.name-input {
    width: 48%;

}

label {
    display: block;
    color: #fff;
    font-size: 14px; 
    font-family: 'DM Sans', sans-serif; 
    margin-top: 1px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    outline: none;
    border: none;
}


button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto; 
}

button:hover {
    background-color: #171717;
    border: 1px solid #4caf50;
    color: #4caf50;
}

input {
    background-color:transparent;
    border-bottom: 1px solid #4F4F4F;
    caret-color: #fff;
    color: #fff;
}

textarea {
    background-color:transparent;
    border-bottom: 1px solid #4F4F4F;
    caret-color: #fff;
    color: #fff;
    font-size: 15px;
    resize: none;
}

::placeholder {
    color: #fff;
    opacity: 1; 
  }
  
  ::-ms-input-placeholder { 
    color: #fff;
  }
  