.containerFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #212121;
    height: 150px;
    margin-top: 50px;
}

.LogoFooter a {
    text-decoration: none;
    color: #27AE60;
    font-size: 50px; 
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    margin-left: 10px; 
}

.span {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

.InfoFooter {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}

.icons {
    width: 17px;
    height: 17px;
    margin: 0%;
}

.TitleSocial, .TitleKontakt {
    color: #fff;
    font-size: 25px;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 10px; 
    text-align: center;
    align-items: center;
}

.EmailFooter, .PhoneFooter, .InfoFooter {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    margin: 10px 0; 
}

@media only screen and (max-width: 600px) {
    .containerFooter {
        flex-direction: column; 
        height: auto; 
        padding: 10px; 
        text-align: center;
    }

    .LogoFooter a {
        margin: 30px 0; 
    }

    .LogoFooter a, .span, .TitleSocial, .TitleKontakt, .EmailFooter, .PhoneFooter, .InfoFooter {
        font-size: 18px;
    }
}
