
.containerFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #212121;
    height: 150px;
    margin-top: 50px;
}

.LogoFooter a {
    text-decoration: none;
    color: #27AE60;
    font-size: 40px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    margin-left: 10px; 
}

.span {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

.InfoFooter {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}

.icons{
    width: 17px;
    height: 17px;
    margin: 0%;
    
}

.TitleSocial, .TitleKontakt {
    color: #fff;
    font-size: 25px;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 10px; 
    text-align: center;
}

.EmailFooter, .PhoneFooter, .InfoFooter {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    margin: 5px 0; 
}
